<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region_prefix.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
      <mapping class="by.bnd.hibernate.starter.entity.User"/>
      <mapping class="by.bnd.hibernate.starter.entity.Company"/>
        <mapping class="by.bnd.hibernate.starter.entity.Profile"/>
        <mapping class="by.bnd.hibernate.starter.entity.Chat"/>
        <mapping class="by.bnd.hibernate.starter.entity.UserChat"/>
        <mapping class="by.bnd.hibernate.starter.entity.Payment"/>
<!--        <mapping class="by.bnd.hibernate.starter.entity.Programmer"/>-->
<!--        <mapping class="by.bnd.hibernate.starter.entity.Manager"/>-->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>